*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
.container{
    background: linear-gradient(to top, blue, white);
    width: 100%;
    height: 100vh;
    align-items: center;
}
.todoApp{
    background-color: white;
    width: 80%;
    border-radius: 5px;
}
.icon-img{
    width: 8%;
}
.input-field{ 
    width: 50%;
    outline: none;
    border: 2px solid blue;
    border-radius: 20px; 
}
#add-btn{
    border-radius: 20px;
    background-color: blue;
    margin-left: 3px;
}
#list-container:hover{
    cursor: pointer;
}
.task-items{
    width: 70%;
    margin: auto;
}
ul li{
    position: relative;
    font-size: 20px;
    list-style: circle;
    margin: 10px;
    background: radial-gradient(white,rgb(165, 165, 255));
    border-radius: 8px;
    padding: 5px;
}
ul li.fulfilled{
    text-decoration: line-through;
}

ul li span{
    background-color: blue;
    border-radius: 50%;
    position: absolute;
    right:0;
    width: 6%; 
    margin: auto;
   font-weight: bold;
    text-align: center;
    color: white;
    
}
ul li span:hover{
    cursor: pointer;
    background-color: white;
    color: blue;
}
